# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "c40c300637ffe7e5a76b6acc93fb4690"
name = "erina-integrater"
application_url = "https://erina-integrater-production.up.railway.app"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-01"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

  [[webhooks.subscriptions]]
  topics = [ "app/scopes_update" ]
  uri = "/webhooks/app/scopes_update"

  [[webhooks.subscriptions]]
  topics = [ "orders/fulfilled" ]
  uri = "/webhooks/orders/fulfilled"

  [[webhooks.subscriptions]]
  topics = ["orders/create"]
  uri = "/webhooks/orders_create/procard"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "read_orders,write_orders,read_products,read_customers"
optional_scopes = [ ]
use_legacy_install_flow = false

[auth]
redirect_urls = [
  "https://erina-integrater-production.up.railway.app/auth/callback",
  "https://erina-integrater-production.up.railway.app/auth/shopify/callback",
]
